.contato {
    background-color: var(--cor-de-fundo);
    padding: 1em;
    text-align: center;
}

.contato_titulo, .contato_texto {
    background: linear-gradient(97.54deg, #002769 35.49%, #005ab4 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato_titulo {
    font-weight: 600;
    font-size: 18px;
}

.contato_texto {
    margin: 1em 0;
}

.contato_email {
    padding: 1em;
    border: 1px solid var(--azul-morto);
    border-radius: 24px;
    width: 80%;
    color: var(--amarelinho)
}

.contato_email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--laranjinha);
    text-align: center;
    background: url("../imagens do site do city/carta.svg") no-repeat;
}

@media screen and (min-width: 1024px) {
    .contato_descrição {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }

    .contato_email {
        width: 40%;
        margin-left: 0.5em;
    }

    .contato_titulo {
    font-weight: 600;
    font-size: 26px;
    }
}

